/******
    setup
*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --dark: #787f76;
  --brown: #9aa68b;
  --gray: #d7d9d8;
  --pink: #d3b0ab;
  --light: #ebeaea;
  --font-color: rgb(62, 75, 75);
}

body {
  background-color: var(--light);
  color: var(--font-color);
}

/******
    header
*******/
.header {
  padding: 30px;
  background-color: var(--dark);
  color: var(--light);
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 100;
  text-align: right;
  margin-bottom: 25px;
}

.header h2 {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: right;
  margin-bottom: 25px;
}

.header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
}

.header nav li.selected {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--light);
}

/******
    main
*******/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: calc(100vw - 20px);
  border-radius: 5px;
  height: 200px;
  margin: 30px 10px;
  background-color: var(--gray);
  padding: 10px;
}

.main .main-headings {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.main p {
  text-align: right;
}
