/******
    setup
*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

:root {
  --header-font-color: rgb(203, 213, 225);
  --main-bg: rgb(226, 232, 240);
  --main-font-color: rgb(30, 41, 59);
}

body {
  background-color: var(--main-bg);
  color: var(--main-font-color);
}

::selection {
  background-color: rgb(234, 212, 101);
  color: rgb(73, 100, 120);
}

.page {
  padding-bottom: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/******
    header
*******/
.header {
  padding: 20px 30px 20px 80px;
  background: #3d7eaa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dcce97,
    #3d7eaa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dcce97,
    #3d7eaa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--header-font-color);
}

.header h1 {
  font-size: 1.7rem;
  font-weight: 100;
  text-align: right;
  margin-bottom: 25px;
}

.header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
  font-size: 1rem;
}

.header nav li {
  cursor: pointer;
}

.header nav li.active {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--header-font-color);
}

/* numbers and address */

.number,
.address {
  text-align: right;
  padding: 10px 20px;
  display: none;
  color: #1e293b;
}
.number img {
  filter: invert(11%) sepia(8%) saturate(3699%) hue-rotate(179deg)
    brightness(91%) contrast(87%);
}
.number.active {
  background-color: rgb(187, 247, 208);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.address.active {
  display: block;
  background-color: rgb(191, 219, 254);
}

.number .phone {
  display: flex;
  align-items: center;
  gap: 5px;
}

/******
    main
*******/
main {
  padding: 10px;
  flex: 1;
}

.main-container {
  width: min(500px, calc(100vw - 20px));
  height: 500px;
  background-color: rgb(0, 0, 0);
  margin: auto;
  margin-top: 50px;
  position: relative;
  box-shadow: 0 0 10px 0 rgb(121, 159, 182);
}

.section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section p {
  position: relative;
  top: 15px;
  text-align: center;
}

.main-container,
.section {
  border-radius: 10px;
}

.section.active {
  opacity: 1;
  z-index: 1;
}

/* background for sections */
.section.laser {
  background-image: url("./assets/laser-hair-removal-small.jpg");
  background-size: 100% 100%;
}

.section.botox {
  background-image: url("./assets/botox-small.jpg");
  background-size: 100% 100%;
}

.section.facial {
  background-image: url("./assets/facial-1.jpg");
  background-size: 100% 100%;
}

/* back and next buttons */
.change {
  width: 30px;
  height: 30px;
  display: none;
  z-index: 2;
}

.back {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.change.active {
  display: block;
}

/* selection bottom of section */
.selection {
  position: absolute;
  display: flex;
  z-index: 2;
  list-style: none;
  gap: 10px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.selection li {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--main-font-color);
}

.selection li.active {
  background-color: var(--main-font-color);
}

.main-container img {
  filter: invert(11%) sepia(8%) saturate(3699%) hue-rotate(179deg)
    brightness(91%) contrast(87%);
}

@media only screen and (min-width: 700px) {
  main {
    background-image: url("./assets/taravat-bg.png");
    background-size: 100% 100%;
  }
}
